<h1> Hello and welcome to RSMAS's data entry site! </h1>

<h2> If you would like to input information about a nursery please click here! </h2>

<form action='/siteInput/' method='get'>
    {% csrf_token %}
    <input type='submit' value='Submit' />
</form>


<h2> If you would like to input information about a collection please click here! </h2>

<form action='/collection/' method='post'>
    {% csrf_token %}
    <input type='submit' value='Submit' />
</form>

<h2> If you would like to input information about a outplant please click here! </h2>

<form action='/outplant/' method='post'>
    {% csrf_token %}
    <input type='submit' value='Submit' />
</form>
